#top {background: #fff;padding: 10px 0 0; color: #000;border-bottom: 1px solid #ddd;}
.navbar-nav{margin:0 auto;}
.carousel-inner {
    position: relative;
    overflow: hidden;
    width:100%;
}
.carousel-item img{max-width:100%;}
.quangcao img{max-width:100%; margin:20px auto;}
.canhgiua{margin:10px auto;}
.tintuc{text-align:left;padding:0 auto;}
.loichao{padding:5px;}	
.hinhgiua{text-align:justify;}
.thehinhgiua{text-align:center;}
.tieude{font-weight:bold;text-decoration:none;color:#000;}
.mota{color:#333; font-size:15px;}
.theloai{color:#000; font-weight:bold; font-size:20px;}
